<main id="cliente">
    <div class="caixa">
        <h1>Cliente</h1>
        {{#each clientes}}
        <form class="cadastro">
            <div class="campos">
                <label>Código:</label>
                <input type="number" name="codigo" class="cod" value="{{CLI_IdCliente}}" readonly disabled>
            </div>
            <div class="campos">
                <label>Nome Completo:</label>
                <input type="text" name="nome" class="nmPessoa" value="{{CLI_Nome}}" disabled>
            </div>
            <div class="campos">
                <label>CPF:</label>
                <input type="text" name="cpf" id = "cpf" class="docPessoa" value="{{CLI_NumCPF}}" disabled>
            </div>
            <div class="campos">
                <label>RG:</label>
                <input type="text" name="rg" id = "rg" class="docPessoa" value="{{CLI_NumRG}}" disabled>
            </div>
            <div class="campos">
                <label>Data Nascimento:</label>
                <input type="date" name="dtdNascimento" class="dtdNasc" value="{{CLI_DtdNascimento}}" disabled>
            </div>
            <div class="campos">
                <label>Endereço:</label>
                <input type="text" name="endereco" class="endereco" value="{{CLI_Endereco}}" disabled>
            </div>
            <div class="campos">
                <label>Nº:</label>
                <input type="text" name="numEnd" class="numEnd" value="{{CLI_NumEndereco}}" disabled>
            </div>
            <div class="campos">
                <label>Bairro:</label>
                <input type="text" name="bairro" class="baiCid" value="{{CLI_Bairro}}" disabled>
            </div>
            <div class="campos">
                <label>Cidade:</label>
                <input type="text" name="cidade" class="cidade" value="{{CLI_Cidade}}" disabled>
            </div>
            <div class="campos">
                <label>Telefone:</label>
                <input type="text" name="telefone" class="tel" value="{{CLI_Telefone}}" disabled>
            </div>
            <div class="campos">
                <label>E-mail:</label>
                <input type="email" name="email" class="email" value="{{CLI_Email}}" disabled>
            </div>
            <div class = "Botoes">
                <input type="submit" value="Alterar" class="alterar"></input>
                <input type="submit" value="Excluir" class="excluir"></input>
                <input type="submit" value="Voltar" class="voltar" onclick="location.href = '../clientes'; return false"></input>
            </div>    
        </form>
    </div>
</main>
<script>


     // BOTÃO EXCLUIR
    var excluir = document.querySelector('.excluir');
    excluir.addEventListener("click", function(e){
	    e.preventDefault();
	    excluirCliente();
    });

    function excluirCliente(){
	    var excluir = confirm('Deseja mesmo excluir este registro?\nCaso sim, os dados não poderão ser recuperados')
	
        if(excluir){
	    	location.href = 'excluir/{{CLI_IdCliente}}'; 
	    }
    }


    // BOTÃO ALTERAR

    var alterarVeiculo = document.querySelector(".alterar");
    alterarVeiculo.addEventListener("click", function(e){
        e.preventDefault();
        alterarCliente();
        criarBotoes();
    })


    function alterarCliente(){
	
		console.log ("testando")
		document.querySelector(".cod").removeAttribute("disabled");
		document.querySelector(".nmPessoa").removeAttribute("disabled");
		document.querySelector("#cpf").removeAttribute("disabled");
		document.querySelector("#rg").removeAttribute("disabled");
		document.querySelector(".dtdNasc").removeAttribute("disabled");
		document.querySelector(".endereco").removeAttribute("disabled");
		document.querySelector(".numEnd").removeAttribute("disabled");
		document.querySelector(".baiCid").removeAttribute("disabled");
		document.querySelector(".cidade").removeAttribute("disabled");
		document.querySelector(".tel").removeAttribute("disabled");
		document.querySelector(".email").removeAttribute("disabled");
        document.querySelector(".excluir").remove();
        document.querySelector(".alterar").remove();
        document.querySelector(".voltar").remove();
        
		return false;
    }






    function criarBotoes(){
        var botao1 = document.createElement("input")
            botao1.type = 'submit';
            botao1.value = 'Confirmar';
            botao1.id = 'confirmarAlt';
            
        var botao2 = document.createElement("input")
            botao2.type = 'submit';
            botao2.value = 'Cancelar';
            botao2.id = 'cancelarAlt';
            
        var botoesEstoque = document.querySelector(".Botoes");
            botoesEstoque.appendChild(botao1);
            botoesEstoque.appendChild(botao2);

        
        var confirmarAlt = document.querySelector("#confirmarAlt") ;
        confirmarAlt.addEventListener("click", function(e){
            var confirmar = confirm("Deseja mesmo realizar essa alteração? Após alterado, os dados não poderão mais ser recuperados");
            if(confirmar){
                document.querySelector(".cadastro").action ='alterarCliente/:id';
                document.querySelector(".cadastro").method ='POST';
            }
        })

        var cancelAltVei = document.querySelector("#cancelarAlt");
        cancelAltVei.addEventListener("click", function(e){
            e.preventDefault();
            cancelarAltVei();
        })


        function cancelarAltVei(){
            var cancelar = confirm("Ao cancelar seus dados serão perdidos\nDeseja cancelar?");

            if(cancelar){
                location.href = "../clientes/{{CLI_IdCliente}}";
            }
            return false;
        }
    }
</script>
{{/each}}