
<main id="consultaVeiculo">
    <div class="caixa">
        <h1>Estoque Consulta</h1>
        
        <form class="cadastro">
            <div class="campos">
                <label>Cód. Veiculo:</label>
                <input type="number" name="codVei" class="codVei">
            </div>
            <div class="campos">
                <label>Marca:</label>
                
                <select name = "marca" class="marca" onchange="selectMarca();">
                    <option disabled selected>Selecione</option>
                    {{#each marcas}}
                    <option value="{{MAR_IdMarca}}">{{MAR_Marca}}</option>
                    {{/each}}
                    
                </select>
            </div>
            <div class="campos">
                <label>Modelo:</label>
                <select name = "modelo" class="modelo">
                    <option disabled selected>Selecione</option>
                </select>
            </div>
            <div class="campos">
                <label>Renavam:</label>
                <input type="number" name="renavam" class="renavam">
            </div>
            <div class="campos">
                <label>Placa:</label>
                <input type="text" name="placa" class="placa">
            </div>
            <div class="campos">
                <section class="section">
                    <label>Cor:</label>
                    <select name = "cor" class="cor">
                        <option disabled selected>Selecione</option>
                        <option value="Amarelo">Amarelo</option>
                        <option value="Azul">Azul</option>
                        <option value="Branco">Branco</option>
                        <option value="Grafiti">Grafiti</option>
                        <option value="Marrom">Marrom</option>
                        <option value="Prata">Prata</option>
                        <option value="Preto">Preto</option>
                        <option value="Rosa">Rosa</option>
                        <option value="Roxo">Roxo</option>
                        <option value="Verde">Verde</option>
                        <option value="Vermelho">Vermelho</option>
                    </select>
                </section>
            </div>
            <div class="campos">
                <section class="section">
                    <label>Ano:</label>
                    <select name = "ano" class="ano">
                        <option disabled selected>Selecione</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </section>
            </div>
            
            <div class="situacao">
                <label>Situação: </label>
                <div>
                    <input type="radio" name="situacao" class="sit"/>Novo
                    <input type="radio" name="situacao" class="sit"/> Seminovo
                </div>
            </div>
            <div class="campos">
                <label>Km:</label>
                <input type="number" name="km" class="km">
            </div>
            <div class="campos">
                <label class="comb">Combustível:</label>
                <select name = "combustivel" class="combustivel">
                    <option disabled selected>Selecione</option>
                    <option value="Alcool">Alcool</option>
                    <option value="Gasolina">Gasolina</option>
                    <option value="Flex">Flex</option>
                </select>
            </div>
            <div class="campos">
                <section class="sectionValor">
                    <label>Valor De:</label>
                    <input type="number" name="valorDe" class="valorDe">
                </section>
            </div>
            <div class="campos">
                <section class="sectionValor">
                    <label>Valor Até:</label>
                    <input type="number" name="valorAte" class="valorAte">
                </section>
            </div>
            <div class="tabela" style="overflow: auto; height:180px">
                
                <table class = "table">
                    <thead>
                        <th>Cod. Veículo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Renavam</th>
                        <th>Placa</th>
                        <th>Cor</th>
                        <th>Ano</th>
                        <th>Sit.</th>
                        <th>Km</th>
                        <th>Cobmbustível</th>
                        <th>Valor</th>
                    </thead>
                    
                    
                    <tbody class="tbody" >
                    {{#each veiculos}}
                        <tr onclick="location.href='../estoque/{{VEI_IdVeiculo}}'">
                            <td  style="text-align: center; width: 20px;">{{VEI_IdVeiculo}}</td>
                            <td>{{VEI_Marca}}</td>
                            <td style="width: auto;">{{VEI_Modelo}}</td>
                            <td>{{VEI_NumRenavam}}</td>
                            <td style="width: 100px;">{{VEI_Placa}}</td>
                            <td>{{VEI_Cor}}</td>
                            <td style="text-align: center; width: 50px;">{{VEI_Ano}}</td>
                            <td style="text-align: center;">{{VEI_Novo}}</td>
                            <td style="text-align: center;">{{VEI_Km}}</td>
                            <td>{{VEI_Combustivel}}</td>
                            <td style="width: 80px; text-align: right;">R${{VEI_Valor}}</td>
                       </tr>
                       {{/each}}
                    </tbody>
                    
                    
                </table>
                
            </div>
            
            <div class = "Botoes">
                
                <input type="submit" value="Consultar" class="consultar" ></input>
                <input type="submit" value="Cadastrar" class="cadastrar" ></input>
                <input type="submit" value="Cancelar" class="cancelarConsulta"></input>
            </div>
        </form>
    </div>
</main>

    <script>
        

        let array = [];
        let array2 =[]
        let vei = [];


        {{#each modelos}}
            array.push({'Marca': {{MOD_IdMarca}}, 'Modelo':'{{MOD_Modelo}}'})
        {{/each}}
        {{#each veiculos}}
            vei.push({'IdVeiculo': {{VEI_IdVeiculo}}, 'Marca': '{{VEI_Marca}}', 'Modelo': '{{VEI_Modelo}}', 'Renavam': '{{VEI_NumRenavam}}', 'Placa': '{{VEI_Placa}}', 'Cor': '{{VEI_Cor}}', 'Ano': {{VEI_Ano}}, 'Situacao':{{VEI_Novo}}, 'Km': {{VEI_Km}}, 'Combustivel': '{{Vei_Combustivel}}', 'Valor': '{{VEI_Valor}}'});
        {{/each}}

        
        
        

        
    
        function selectMarca(){
            var marca = document.querySelector('.marca');
            
            
            let optionValue = marca.options[marca.selectedIndex];

            let value = optionValue.value;
            console.log(value);
            array2.splice(0, array2.length);
            for(let i =0; i<array.length;i++){
                if(array[i].Marca == value){
                    array2.push(array[i].Modelo);   
                }
                
            }
            limpaSelect();
            selectModelo();
            
        }
        

        function selectModelo(){
            const select = document.querySelector('.modelo');
            for(let i = 0; i<array2.length;i++){
                select.options[select.options.length] = new Option(array2[i], array2[i])
            }
        }

        function limpaSelect(){
            const select = document.querySelector('.modelo');
            select.options.length = 1;
        }



        var cadastrarVeiculo = document.querySelector('.cadastrar');
        cadastrarVeiculo.addEventListener("click", (e)=>{
            e.preventDefault();
            cadastrarVei();
        })

        function cadastrarVei(){
            var cadastrar = document.getElementsByClassName("cadastrarVei");
            
            if (cadastrar){
                location.href = '../estoque/cadastrarVeiculos'
            }
        }

        // Adding an event listener to the cancelCadVei element.
        var cancelCadVei = document.querySelector('.cancelarConsulta');
        cancelCadVei.addEventListener("click", function(e){
            e.preventDefault();
            console.log('testando cancelarCAd')
            cancelarConsult();
        })
        

        // A function that is called when the user clicks on a button.
        function cancelarConsult(){
            var cancel = confirm(`Deseja mesmo cancelar?\nCaso sim, perderá todos os dados não salvos`)
        
            if(cancel){
                location.href = '/home'; 
            }
        
        }

        



    </script>


