<main id="consultarFuncionario">
    <div class="caixa">
        <h1>Funcionários</h1>
        
        <form class="cadastro">
            <div class="campos">
                <label>Cód. Funcionário:</label>
                <input type="number" name="codFuncionario" class="codFuncionario" onclick="limparNomeEDocPessoa();">
            </div>

            <div class="campos">
                <label>Nome:</label>
                <input type="text" name="nome" class="nmPessoa" onclick="limparCodFuncEDocPessoa();">
            </div>

            <div class="campos">
                <label>CPF:</label>
                <input type="text" name="cpf" class="docPessoa" onclick="limparCodFuncENome();">
            </div>
            <div class="tabela" style="overflow: auto; height:180px">
                <div class="tabelaCaixa">
                    <table class = "table">
                        <thead>
                            <th style="width: 20px;">Cod. Func</th>
                            <th style="width: 200px;">Nome</th>
                            <th style="width: 45px;">Cargo</th>
                            <th style="width: 80px;">Situação</th>
                            <th style="width: 120px;">CPF</th>
                            <th style="width: 100px;">RG</th>
                            <th style="width: 130px;">Data Nascimento</th>
                            <th style="width: 80px;">Sexo</th>
                            <th style="width: 300px;">E-mail</th>
                            <th style="width: 150px;">Telefone</th>
                            <th style="width: 300px;">Endereco</th>
                            <th style="width: 45px;">Nº</th>
                            <th style="width: 200px;">Bairro</th>
                            <th style="width: 200px;">Cidade</th>
                        </thead>
                        
                        
                        <tbody class="tbody" >
                        {{#each funcionarios}}
                            <tr onclick="location.href='../funcionarios/{{FUN_IdFuncionario}}'">
                                <td style="text-align: center;">{{FUN_IdFuncionario}}</td>
                                <td>{{FUN_Nome}}</td>
                                <td style="text-align: center;">{{FUN_IdCargo}}</td>
                                <td style="text-align: center;">{{FUN_Situacao}}</td>
                                <td style="text-align: center;">{{FUN_NumCPF}}</td>
                                <td style="text-align: center;">{{FUN_NumRG}}</td>
                                <td style="text-align: center;">{{FUN_DtdNascimento}}</td>
                                <td style="text-align: center;">{{FUN_Sexo}}</td>
                                <td>{{FUN_Email}}</td>
                                <td style="text-align: center;">{{FUN_Telefone}}</td>
                                <td>{{FUN_Endereco}}</td>
                                <td style="text-align: center;">{{FUN_NumEndereco}}</td>
                                <td style="text-align: center;">{{FUN_Bairro}}</td>
                                <td style="text-align: center;">{{FUN_Cidade}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                        
                        
                    </table>
                </div>
                
            </div>
            
            <div class = "Botoes">
                
                <input type="submit" value="Consultar" class="consultar" ></input>
                <input type="submit" value="Cadastrar" class="cadastrar" onclick="location.href = '../funcionarios/cadastrarFuncionarios'; return false"></input>
                <input type="submit" value="Voltar" class="voltar"></input>
            </div>
        </form>
    </div>
</main>

<script>
    //BOTÃO VOLTAR

    let voltar = document.querySelector('.voltar');
    voltar.addEventListener("click", (e)=>{
        e.preventDefault();
        const idFunc = sessionStorage.getItem('IdFuncionario');
        window.location.href = '/home?user='+idFunc;
    })

    $('.docPessoa').mask('000.000.000-00')

    function limparNomeEDocPessoa(){
        $('.nmPessoa').val('');
        $('.docPessoa').val('');
    }

    function limparCodFuncEDocPessoa(){
        $('.codFuncionario').val('');
        $('.docPessoa').val('');
    }

    function limparCodFuncENome(){
        $('.codFuncionario').val('');
        $('.nmPessoa').val('');
    }



    let funcionarios = [];
    {{#each funcionarios}}
        funcionarios.push({
            'IdFuncionario': {{FUN_IdFuncionario}},
            'Nome': '{{FUN_Nome}}',
            'Cargo': '{{FUN_IdCargo}}',
            'Situacao': '{{FUN_Situacao}}',
            'cpf': '{{FUN_NumCPF}}',
            'rg': '{{FUN_NumRG}}',
            'DtdNascimento': '{{FUN_DtdNascimento}}',
            'Sexo': '{{FUN_Sexo}}',
            'Email': '{{FUN_Email}}',
            'Telefone': '{{FUN_Telefone}}',
            'Endereco': '{{FUN_Endereco}}',
            'numEndereco': '{{FUN_NumEndereco}}',
            'Bairro': '{{FUN_Bairro}}',
            'Cidade': '{{FUN_Situacao}}'});
    {{/each}}


     // BOTÃO CONSULTAR
    var consult = document.querySelector('.consultar');
    consult.addEventListener("click", function(e){
        e.preventDefault();
        $('tbody').remove();
        busca();

    })



    function busca(){
        let codFuncionario = $('.codFuncionario').val();
        let nomeFuncionario = $('.nmPessoa').val().toUpperCase();
        let cpfFuncionario = $('.docPessoa').val();
        const linhasTbody = document.querySelector('.table');
        let qtdFuncionario = {{funcionarios.length}};

        for(let i = 0; i< qtdFuncionario; i++){
            let nome = (funcionarios[i].Nome).toUpperCase();
            if(codFuncionario == funcionarios[i].IdFuncionario || (nomeFuncionario.trim() != "" && nome.includes(nomeFuncionario.trim())) || cpfFuncionario == funcionarios[i].cpf){
                    var parte1 = `<tr onclick="location.href='../funcionarios/${funcionarios[i].IdFuncionario}'"><td>${funcionarios[i].IdFuncionario}</td>`;
                    var parte2 = `<td>${funcionarios[i].Nome}</td>`
                    var parte3 = `<td>${funcionarios[i].Cargo}</td>`
                    var parte4 = `<td>${funcionarios[i].Situacao}</td>`
                    var parte5 = `<td>${funcionarios[i].cpf}</td>`
                    var parte6 = `<td>${funcionarios[i].rg}</td>`
                    var parte7 = `<td>${funcionarios[i].DtdNascimento}</td>`
                    var parte8 = `<td>${funcionarios[i].Sexo}</td>`
                    var parte9 = `<td>${funcionarios[i].Email}</td>`
                    var parte10 = `<td>${funcionarios[i].Telefone}</td>`
                    var parte11 = `<td>${funcionarios[i].Endereco}</td>`
                    var parte12 = `<td>${funcionarios[i].numEndereco}</td>`
                    var parte13 = `<td>${funcionarios[i].Bairro}</td>`
                    var parte14 = `<td>${funcionarios[i].Cidade}</td>`

                    linhasTbody.innerHTML += parte1+ parte2+ parte3+ parte4+ parte5+ parte6+ parte7+ parte8+ parte9+ parte10+ parte11+ parte12+ parte13+ parte14;
                    linhasTbody.innerHTML += "</tr>";
                
                }
        }
        
    }


</script>