
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<main id="registroVenda">
    <div class="caixa">
        <h1>Registro de Venda</h1>
        <h3 id ="dadosCLiente">Dados do Cliente</h3>
        <form class="cadastro">
        {{#each vendas}}
            <div hidden>
                <input type="text" name="notaFiscal" class="notaFiscal"/>
            </div>
            <div class="campos">
                <label>Cód. Venda:</label>
                <input type="number" name="codVenda" class="codVenda" value="{{IdVenda}}" readonly>
            </div>
            <div class="campos">
                <label>Cód. Funcionário:</label>
                <input type="number" name="codFuncionario" class="codFuncionario" value="{{IdFuncionario}}" readonly>
            </div>
            <div class="campos">
                <label>Data da Compra:</label>
                <input type="datetime" name="dtdVenda"  class="dtdVenda" value="{{DtdVenda}}" readonly>
            </div>
           <div class="campos">
                <label>Cód. Cliente:</label>
                <input type="number" style="padding-right: 30px" name="codCliente" class="codCliente" value="{{IdCliente}}" readonly>
            </div>
            <div class="campos">
                <label>Nome do Cliente:</label>
                <input type="text" name="nmCLiente" class="nmCLiente" value="{{NomeCliente}}" readonly>
            </div>
            <div class="campos">
                <label>CPF:</label>
                <input type="number" name="CPF" class="docPessoa" value="{{Cpf}}" readonly>
            </div>
            <div id = "tema">
                <h3>Dados do Veículo</h3>
            </div>
            <div class="campos">
                <label>Cód. Veículo:</label>
                <input type="text" style="padding-right: 30px" name="codVei" class="codVei" value="{{IdVeiculo}}" readonly>
            </div>
            
            <div class="campos">
                <label>Marca:</label>
                <input type="text" name = "marca" class="marca" value="{{Marca}}" readonly>
            </div>
            <div class="campos">
                <label>Modelo:</label>
                <input type="text" name = "modelo" class="modelo" value="{{Modelo}}" readonly>
            </div>
            <div class="campos">
                <label>Renavam:</label>
                <input type="number" name="renavam" class="renavam" value="{{Renavam}}" readonly>
            </div>
            <div class="campos">
                <label>Placa:</label>
                <input type="text" name="placa" class="placa" value="{{Placa}}" readonly>
            </div>
            <div class="campos">
                <section class="section">
                    <label>Cor:</label>
                    <input type="text" name = "cor" class="cor" value="{{Cor}}" readonly>
                </section>
            </div>
            <div class="campos">
                <section class="section">
                    <label>Ano:</label>
                    <input type="text" name = "ano" class="ano" value="{{Ano}}" readonly>
                </section>
            </div>
            <div class="campos">
                <label>Situação:</label>
                <input type="text" name="situacao" class="situacao" value="{{Situacao}}" readonly>
            </div>
            <div class="campos">
                <label>Km:</label>
                <input type="number" name="km" class="km" value="{{Km}}" readonly>
            </div>
            <div class="campos">
                <label class="comb">Combustível:</label>
                <input type="text" name = "combustivel" class="combustivel" value="{{Combustivel}}" readonly>
            </div>
            <div class="div100">
                <div class="campos">
                    <section class="sectionValor">
                        <label>Valor:</label>
                        <input type="text" name="valor" class="valor" value="{{Valor}}" readonly>
                    </section>
                </div>
            </div>
            <div class="campos">
                <label>Valor Entrada:</label>
                <input type="text" name="valorEntrada" class="valorEntrada" value="{{Entrada}}" readonly> <!-- onfocus="this.value=''"; -->
            </div>
            <div class="campos">
                <label class="finTxt">Financiamento:</label>
                <input type="text" name="financiamento" class="finOpcao" value="{{FinOpcao}}" readonly>
            </div>
            <div class="div50">
                <div class="campos">
                    <label>Valor Financiamento:</label>
                    <input type="text" name="valorFin" class="valorFin"  value="{{Financiamento}}" readonly>
                </div>
            </div>
            <div class="campos">
                <label class="entradaTxt">Qtd. Parcelas:</label>
                <input type="text" name="qtdParcela" class="qtdParcela" value="{{QtdParcela}}" readonly>
            </div>
            <div class="campos">
                <label>Valor Parcelas:</label>
                <input type="text" name="valorParcela" class="valorParcela" value="{{ValorParcela}}" readonly>
            </div>
                                 
            <div class = "Botoes">
                <input type="submit" value="Cancelar Venda" class="CancelarVenda"></input>
                <input type="submit" value="voltar" class="voltar"></input>
            </div> 
        
        </form>
    </div>
</main>
<script>

    // BOTÕES


    //BOTÃO VOLTAR

    let voltar = document.querySelector('.voltar');
    voltar.addEventListener("click", (e)=>{
        e.preventDefault();
        window.location.href = '../vendasRealizadas';
    })

    // BOTÃO CANCELARVENDA
    var idCargo =  sessionStorage.getItem('IdCargo');


    var cancelarVenda = document.querySelector('.CancelarVenda');
    if(idCargo != 4){
        cancelarVenda.disabled = true;
        cancelVenda.backgroundColor = '#EA8419';
    }

    cancelarVenda.addEventListener("click", function(e){
	    e.preventDefault();
	    cancelVenda();
        console.log('testando botão excluir')
    });


    function cancelVenda(){
        if(idCargo == 4){
            var senha = prompt("Digite a senha para prosseguir com o cancelamento: ")
            if (senha == '12345'){
                var cancelar = confirm('Deseja mesmo Cancelar essa venda?\nCaso sim, os dados não poderão ser recuperados')
            
                if(cancelar){
                    location.href = '../../vendas/cancelarVenda/{{IdVenda}}/{{IdVeiculo}}'; 
                }
            }else{
                alert('Senha Incorreta')
            }
        }else{
            alert('Você não pode Processguir com essa solicitação')
        }
    }
    
</script>
{{/each}}