<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<main id="consultaVeiculo">
    <div class="caixa">
        <h1>Vendas Realizadas</h1>
        
        <form class="cadastro">
            <div class="campos">
                <label>Cód. Venda:</label>
                <input type="number" name="idvenda" class="codVei">
            </div>
            
            <div class="tabela" style="overflow: auto; height:250px">
                
                <table class = "table">
                    <thead>
                        <th style="width: 20px;">Cod. Venda</th>
                        <th style="width: 20px;">Cod. Veículo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Placa</th>
                        <th>Valor</th>
                        <th style="width: 300px;">Nome Cliente</th>
                        <th>Data da Venda</th>
                    </thead>
                    
                    
                    <tbody class="tbody" >
                    {{#each vendas}}
                        <tr onclick="location.href='vendaRegistrada/{{IdVenda}}'">
                            <td style="text-align: center;">{{IdVenda}}</td>
                            <td style="text-align: center;">{{IdVeiculo}}</td>
                            <td style="text-align: center;">{{Marca}}</td>
                            <td style="text-align: center;">{{Modelo}}</td>
                            <td style="text-align: center;">{{Placa}}</td>
                            <td style="text-align: right;">R$ {{Valor}}</td>
                            <td>{{NomeCliente}}</td>
                            <td style="text-align: center;">{{DtdVenda}}</td>
                       </tr>
                    {{/each}}
                    </tbody>  
                </table>
                
            </div>
           
            <div class = "Botoes">      
                <input type="submit" value="Consultar" class="consultar" ></input>
                <input type="submit" value="Voltar" class="voltar"></input>
            </div>

        </form>
    </div>
</main>

<script>
    
    $('.placa').mask("SSS-#S##");
    
    //OBJETOS
        let vendas = []
        let situacao ='';
        {{#each vendas}}
            situacao = '';
            if({{Situacao}} == 1){
                situacao = 'Novo'
            }else{
                situacao = 'Seminovo'
            }
            vendas.push({
                'IdVenda': {{IdVenda}},
                'IdFuncionario': {{IdFuncionario}},
                'DtdVenda': {{DtdVenda}},
                'IdCliente': {{IdCliente}},
                'NomeCliente': '{{NomeCliente}}',
                'Cpf': '{{Cpf}}',
                'IdVeiculo': {{IdVeiculo}},
                'Marca': '{{Marca}}',
                'Modelo': '{{Modelo}}',
                'Renavam': {{Renavam}},
                'Ano': {{Ano}},
                'Situacao': situacao,
                'Km': {{Km}},
                'Combustivel': '{{Combustivel}}',
                'Valor': {{Valor}},
                'Entrada': {{Entrada}},
                'Financiamento': {{Financiamento}},
                'QtdParcela': {{QtdParcela}},
                'ValorParcela': {{ValorParcela}}
            })
        {{/each}}

        console.log(vendas)
    
    
    
    
    //FUNÇÕES PREENCHE CAMPOS

   
    

    

    // BOTÕES
    
    // BOTÃO CONSULTAR

        var consult = document.querySelector('.consultar');
        consult.addEventListener("click", function(e){
            e.preventDefault();
            $('tbody').remove();
            busca();

        })

        
        
        function busca(){
            const venda = $('.codVei').val();
            const linhasTbody = document.querySelector('.table');
            
            
            for(let i = 0; i< vendas.length;i++){
                if(venda == vendas[i].IdVenda){
                    var parte1 = `<tr onclick="location.href='../vendaRegistrada/${vendas[i].IdVenda}'"><td>${vendas[i].IdVenda}</td>`;
                    var parte2 = `<td>${vendas[i].IdVeiculo}</td>`
                    var parte3 = `<td>${vendas[i].Marca}</td>`
                    var parte4 = `<td>${vendas[i].Modelo}</td>`
                    var parte5 = `<td>${vendas[i].Placa}</td>`
                    var parte6 = `<td>${vendas[i].Valor}</td>`
                    var parte7 = `<td>${vendas[i].NomeCliente}</td>`
                    var parte8 = `<td>${vendas[i].DtdVenda}</td>`
                    
                    linhasTbody.innerHTML += parte1+ parte2+ parte3+ parte4+ parte5+ parte6+ parte7+ parte8;
                    linhasTbody.innerHTML += "</tr>";
                
                } 
            }            
        }
        



    //BOTÃO VOLTAR

        let voltar = document.querySelector('.voltar');
        voltar.addEventListener("click", (e)=>{
            e.preventDefault();
            const idFunc = sessionStorage.getItem('IdFuncionario');
        
            window.location.href = '../vendas';
        })



</script>


